# The speed of the JTAG interface, in KHz. If you get DSR/DIR errors (and they
# do not relate to OpenOCD trying to read from a memory range without physical
# memory being present there), you can try lowering this.
# Doesn't seem to do anything with stellaris
# adapter speed 200

# set ftdi_transport SWD
set ftdi_transport JTAG
source "[file dirname [info script]]/ft2232hl.cfg"
# adapter driver dummy

# reset_config srst_only
reset_config none
# The ft2232hl.cfg file sets up the transport, channel, and speed for us.
# transport select jtag
# transport select swd
set WORKAREASIZE 0x8000
set CHIPNAME tm4c123gh6pge

# stellaris.cfg sets the speed, so we save it and restore it after because I don't want to hold onto a modified copy of stellaris.cfg
regexp {adapter speed: (\d+) kHz} [adapter speed] -> old_adapter_speed
source [find target/stellaris.cfg]
# puts [string cat "Restoring speed: " $old_adapter_speed]
adapter speed $old_adapter_speed